@media (max-width: 575.98px) { 
	body {
		background-color: #EEEEEE;
	}

	#hello {
		margin-left: 40px;
		margin-top: 50px;
		font-family: 'Quicksand', sans-serif;
		font-size: 30px;
	}

	#nama {
		font-family: 'Oxygen', sans-serif;
		font-size: 40px;
		margin-top: -10px;
		margin-left: 40px;
	}
	
	.negara {
		margin-left: 30px;
		margin-top: 20px;
	}

	#positif {
		width: 310px;
		height: 205px;
		background-color: #ceb546;
		border: none;
		border-radius: 20px 20px 20px 20px;
	}

	#meninggal {
		width: 310px;
		height: 205px;
		background-color: #ec6f58;
		border: none;
		border-radius: 20px 20px 20px 20px;
		
	}

	#sembuh {
		width: 310px;
		height: 205px;
		background-color: #3c928c;
		border: none;
		border-radius: 20px 20px 20px 20px;
		
	}
}